pieContainerGrid {
    display: grid;
    grid-template-columns: repeat(2, 35em);
    justify-content: center;
    align-items: center;
}

.chartsContainer {
    /* background-color: rgba(18, 173, 65, 0.441); */
    border: 1px solid white;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}


.barContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 255, 0, 0.5); */
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainer {
    width: 500px;
    height: 500px;
}

.pieContainerHand1 {
    /* background-color: rgba(0, 0, 255, 0.6); */
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainerHand2 {
    /* background-color: rgba(255, 0, 0, 0.6); */
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}