#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .allCardsDisplayContainer {
    display: flex;
} */

.entireDisplayGrid {
    display: flex;
    align-self: center;
    justify-content: center;
}

.allCardsDisplay {
    display: grid;
    grid-template-columns: repeat(13, 3.5em);
    padding: 0px 50px 100px 0px
}

/* .playersHandContainer {
    display: flex;
} */

.playersHand {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 4em);
    justify-content: center;
}

.cardSelectButton {
    z-index: 3;
    height: 75px;
    width: 40px;
    opacity: 0%;
    margin-top: -100px;
    margin-bottom: -100px;
    background-color: red; 
    position: relative;
    top: 75px
}

.pieContainerGrid {
    display: grid;
    grid-template-columns: repeat(2, 35em);
    justify-content: center;
    align-items: center;
}


.barContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainer {
    width: 500px;
    height: 500px;
}

.pieContainerHand1 {
    background-color: rgba(0, 0, 255, 0.6);
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainerHand2 {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.loadingIcon {
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}



