#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.generalButton{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    margin: 10px 10px 10px 10px;
}

.generalButton:hover {
    color: #000;
    background: rgb(49, 222, 81);
}

/* .allCardsDisplayContainer {
    display: flex;
} */

.entireDisplayGrid {
    display: flex;
    justify-content: center;
}

.allCardsDisplay {
    display: grid;
    grid-template-columns: repeat(13, 3.5em);
    padding: 0px 50px 100px 0px
}
/* 
.playersHandContainer {
    display: block;
    align-items: center;
    justify-content: center;
}    */

.playersHand {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 4em);
    justify-content: center;
    align-items: center;
}

.boardCards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 3em);
    align-items: center;
    /* grid-template-rows: repeat(1, 3em); */
    /* justify-content: center; */
}

.cardSelectButton {
    z-index: 3;
    height: 70px;
    width: 50px;
    opacity: 0%;
    margin-top: -100px;
    margin-bottom: -100px;
    background-color: red; 
    position: relative;
    top: 65px
}

.pieContainerGrid {
    display: grid;
    grid-template-columns: repeat(2, 35em);
    justify-content: center;
    align-items: center;
}

.chartsContainer {
    /* background-color: rgba(18, 173, 65, 0.441); */
    border: 1px solid white;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}


.barContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 255, 0, 0.5); */
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainer {
    width: 500px;
    height: 500px;
}

.pieContainerHand1 {
    /* background-color: rgba(0, 0, 255, 0.6); */
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.pieContainerHand2 {
    /* background-color: rgba(255, 0, 0, 0.6); */
    border-radius: 50px;
    margin: 50px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.loadingIcon {
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}



